<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/shoppingCart.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping cart</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="shoppingCartWrapper">
			<table id="shoppingCart">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="productId" type="hidden" th:value="${!product.isEmpty} ? ${product.id} : ''" />
						</td>
					</tr>
					<tr>
						<td class="label">Lookup Code:</td>
						<td>
							<input id="productLookupCode" type="text" th:value="${!product.isEmpty} ? ${product.lookupCode} : ''" class="update" th:disabled="not ${isElevatedUser}" />
						</td>
					</tr>
					<tr>
						<td class="label">Count:</td>
						<td>
							<input id="productCount" type="number" th:value="${!product.isEmpty} ? ${product.count} : ''" class="update" th:disabled="not ${isElevatedUser}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="shoppingCartActionsWrapper" th:class="(not ${isElevatedUser} OR not ${#strings.isEmpty(errorMessage)}) ? hidden : ''">
			<br />
			
			<button id="addButton" type="button" class="action">Add</button>
      <br />
      <button id="cancelButton"	type="button" class="action">Cancel</button>
      <br />
      <button id="checkOutButton"	type="button" class="action">Check-Out</button>
      <br />
    	</div>

		<div id="productAddedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Product</span><br />
						<span>Added</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>