<html xmlns:th="https://www.thymeleaf.org"></html>

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionSummary.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Transaction Summary</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		<div class="transactionSummaryWrapper">
			<table id="transactionSummary">
				<tbody>
					<tr>
						<th>Product:</th>
						<th>Count:</th>
						<th>Price:</th>
					</tr>
					<tr>
						<td>Total Price:</td>
						<td></td>
					</tr>
					<tr>
						<td>Total Product count:</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="cartWrapper">
			<ul id="transactionListing" class="transactions">
				<li th:each="transaction : ${transactions}">
					<span><input type="hidden" name="transactionId" th:value="${transaction.transactionid}">transactionId</span>
					<span class="transactionQuantityDisplay" th:text="${transaction.quantity}">0</span>
				</li>
			</ul>
		</div>

		<div id ="actions" class="transactionSummaryActionsWrapper" th:class="(not ${isElevatedUser} OR not ${#strings.isEmpty(errorMessage)}) ? hidden : ''">
			<br />
			<button id="cancelButton" type="button" class="action">Cancel</button>
			<br />
			<button id="completeTransactionButton" type="button" class="action">Complete Transaction</button>
		</div>

		<div class="footer">
			<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
		</div>
	</div>
</body>
</html>